body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.homepage {
  height: 100vh;
  width: 100vw;
}

#background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* GLASS LOGIN BOX */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login-form {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 30px rgba(0,0,0,0.6);
  animation: fadeIn 1s ease;
}

/* INPUT */
#login-form input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 6px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

/* BUTTON */
#login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: #f4c430;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

#login-form button:hover {
  transform: scale(1.05);
  background: white;
}

/* ANIMATION */
@keyframes fadeIn {
  from {opacity:0; transform: scale(0.9);}
  to {opacity:1; transform: scale(1);}
}