# ===== Java / Maven =====
backend/target/
*.class
backend/src/main/resources/application.properties

# ===== IntelliJ =====
.idea/
*.iml

# ===== Eclipse =====
.metadata/
.classpath
.project
.settings/

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / secrets =====
.env