# ===== Backend build =====
backend/target/
*.class
backend/.env

# ===== IDE =====
.idea/
*.iml
.vscode/

Documentation/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== ENV / SECRETS =====
.env*
backend/src/main/resources/application-local.properties

# ===== OPTIONAL =====
*.log

# ===== DO NOT IGNORE THESE =====
!backend/src/main/resources/application.properties
!backend/src/main/resources/application-prod.properties

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
